<header class="navbar-fixed">
    <nav id="headNav" class="bg-color nav-transparent">
        <div id="navContainer" class="nav-wrapper head-container">
            <div class="brand-logo">
                <a href="<%- url_for() %>" class="waves-effect waves-light">
                    <% if (theme.logo !== undefined && theme.logo.length > 0) { %>
                    <img src="<%= theme.logo %>" class="logo-img" alt="LOGO">
                    <% } %>
                    <span class="logo-span"><%- config.title %></span>
                </a>
            </div>
            <%- partial('_partial/navigation') %>
        </div>

        <% if (theme.githubLink && theme.githubLink.enable) { %>
            <%- partial('_partial/github-link') %>
        <% } %>
    </nav>
	
<%
/*
该部分为注释说明，一下26-42行是为了解决mathjax渲染问题的解决方法；https://liam.page/2015/09/09/fix-conflict-between-mathjax-and-markdown/
*/
%>	

<script type="text/javascript">
window.addEventListener('DOMContentLoaded', () => {
  document.querySelectorAll('code').forEach(code => {
    const text = code.innerHTML;
    is_inline_math = /^\$(.*)\$$/.exec(text);
    is_display_math = /^\$\$(.*)\$\$$/ms.exec(text) || /^\\begin\{.+\}(.*)\\end\{.+\}/ms.exec(text);
    if (is_inline_math || is_display_math) {
      code.parentElement.classList.add('has-jax');
      if (is_inline_math) {
        code.outerHTML = "<span class=yuuki_mathjax_inline>" + text + "</span>";
      } else {
        code.outerHTML = "<span class=yuuki_mathjax_display>" + text + "</span>";
      }
    }
  });
});
</script>

</header>
